*{
    margin: 0 auto;
}

body{
    font-family: Open Sans, sans-serif;
    }
    
header{
    height: 120px;
    border-bottom: 2px solid #000;
    margin-bottom: 40px;
}


header h1{
    font-weight: lighter;
    padding-top: 10px;
    padding-left: 10px;
    color:blueviolet;
}

header p{
    font-weight: lighter;
    margin-top: 25px;
    text-align: center;
    font-style: italic;
    color:blueviolet;
}

.card{
    display:inline-block;
    margin: 25px 25px;
    padding: 10px;
    border: 2px solid #a1a1a1;
    border-radius: 10px;
    vertical-align: top;
    max-height: 100%;
}

section{
    margin: 0 auto;
    display: block;
    max-width: 1024px;
    width: 100%;
}

.card img{
    display: block;
    width: 240px;
    height: 200px;
}
.card details{
    width: 250px;
    height: auto;
    display: inline-block;
}

.card details summary{
    font-size: 15px;
    padding: 10px;
}

.card details p{
    padding: 15px;
}

.card details blockquote{
    color: #777;
    font-style: italic;
    padding: 5px 20px;
}


footer{
    border-top: 2px solid #000;
    padding: 20px 0;
    height: 300%;
    text-align: center; 
    font-weight: lighter;
    font-style: italic;  
    color:blueviolet;
}
    
    @media (max-width: 768px){
        header{
            margin-bottom: 30px;
            height: 120px;
        }
        header h1{
            font-size: 18px;
        }
        header p{
            font-size: 14px;
            padding-bottom: 25px;
        }
        .card{
            display: block;
            margin: 20px 10px;
        }
        .card img{
            width: 100%;
            height: 100%;
        }
        .card details{
            width: 100%;
        }
        .card details summary{
            font-size: 16px;
        }
        .card details p{
            font-size: 14px;
        }
    }